<f:layout name="Styleguide" />

<f:render partial="Organisms/Navbar" arguments="{
    expandClass: 'navbar-expand-lg',
    positionClass: 'fixed-top',
    bgClass: 'bg-brand-blue',
    colorOnScroll: 200,
    items:mainmenu,
    organismName: 'navbar-main'}"
/>
<div class="wrapper">
    <f:render
            partial="Organisms/PageHeader"
            arguments="{
                layout: 0,
                bgImgURL: '/fileadmin/user_upload/unsplash/bike/rodrigo-kugnharski-661146-unsplash.jpg',
                credits: 1}"
            contentAs="content"
    >
        <div class="text-center">
            <h1 class="page-header__title">Ihre Verkehrswende<br/><span class="muted">Ihr Lastenrad</span></h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                eu, pretium quis, sem.
            </p>
            <f:render partial="Atoms/Button"
                      arguments="{
                                url:'http://example.com',
                                target:'_blank',
                                color: 'primary'
                            }"
                      contentAs="content">lorem buttontext</f:render>
        </div>
    </f:render>
    <div class="main-content">
        <f:render partial="Styleguide/ServicesCards" />
    </div>
</div>
<f:render partial="Organisms/Footer" arguments="{_all}" contentAs="content">

</f:render>
