$brand-green:               #3deaaf;
$brand-green--light:        lighten($brand-green,10%);
$brand-green--dark:         darken($brand-green,10%);

$brand-blue:                #1e2749;
$brand-blue--light:         lighten($brand-blue,10%);
$brand-blue--dark:          darken($brand-blue,10%);

$opacity-gray-3--dark:      rgba(111,111,111, .3) !default;
$opacity-gray-5--dark:      rgba(111,111,111, .5) !default;
$opacity-gray-8--dark:      rgba(111,111,111, .8) !default;


//  overwrites:
$primary-color:             $brand-green;
$primary-states-color:       lighten($primary-color, 6%) !default;
$primary-color-opacity:      transparentize($primary-color, 0.3) !default;
$primary-color-alert:        transparentize($primary-color, 0.8) !default;
