<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="/typo3conf/ext/theme/Resources/Public/Images/Favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/typo3conf/ext/theme/Resources/Public/Images/Favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/typo3conf/ext/theme/Resources/Public/Images/Favicon/favicon-16x16.png">
<link rel="manifest" href="/typo3conf/ext/theme/Resources/Public/Images/Favicon/manifest.json">
<link rel="mask-icon" href="/typo3conf/ext/theme/Resources/Public/Images/Favicon/safari-pinned-tab.svg" color="#1e2749">
<link rel="shortcut icon" href="/typo3conf/ext/theme/Resources/Public/Images/Favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#1e2749">
<meta name="msapplication-config" content="/typo3conf/ext/theme/Resources/Public/Images/Favicon/browserconfig.xml">
<meta name="theme-color" content="#1e2749">
<script>
    // global JS variables from Standalone/HeaderData.html
    var
        pagePath = "{f:uri.page(pageUid:settings.pageUids.root)}",
        themeResourcesPath = "{f:uri.resource(path: '', extensionName: 'Theme', absolute: 0)}",
        svgSymbolsPath = "{f:uri.resource(path: 'Images/Frontend/Icons/symbol/icons-symbols.svg', extensionName: 'Theme', absolute: 0)}",
        breakpoints = {
            'BREAKPOINT_SMALL-PHONE_TO_PHONE'               : 0,
            'BREAKPOINT_PHONE_TO_TABLET-PORTRAIT'           : 576,
            'BREAKPOINT_TABLET-PORTRAIT_TO_TABLET-LANDSCAPE': 768,
            'BREAKPOINT_TABLET-LANDSCAPE_TO_DESKTOP'        : 992,
            'BREAKPOINT_DESKTOP_TO_DESKTOP-LARGE'           : 1200
        };
</script>

</html>