body {
  margin: 0;
}

.container {
  &--content-max-width-1 {
    max-width: 600px;
  }
  &--content-max-width-100 {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}