%outlineReset {
  border: $border-thin solid;
  padding: 10px 22px;
  background-color: transparent;
  &:hover {
    color: $white-color;
  }
}

.btn {
  &-outline {

    &-primary {
      border-color: $primary-color !important;
      color: $primary-color;
      @extend %outlineReset;
      &:hover {
        background-color: $primary-color;
      }
    }
    &-success {
      border-color: $success-color !important;
      color: $success-color;
      @extend %outlineReset;
      &:hover {
        background-color: $success-color;
      }
    }
    &-info{
      border-color: $info-color !important;
      color: $info-color;
      @extend %outlineReset;
      &:hover {
        background-color: $info-color;
      }
    }
    &-warning {
      border-color: $warning-color !important;
      color: $warning-color;
      @extend %outlineReset;
      &:hover {
        background-color: $warning-color;
      }
    }
    &-danger {
      border-color: $danger-color !important;
      color: $danger-color;
      @extend %outlineReset;
      &:hover {
        background-color: $danger-color;
      }
    }
    &-neutral {
      border-color: $white-color !important;
      color: $white-color;
      @extend %outlineReset;
      &:hover {
        background-color: $white-color;
        color: $black-color;
      }
    }
  }
}